// # Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-navy-950: #303B59;
$color-navy-200: #CAC9FF;
$color-navy-50: #ECF2FF;
$color-blue-800: #1125D6;
$color-blue-50: #F3F4FD;
$color-yellow-400: #FFB21E;
$color-yellow-50: #FFFBF4;
$color-red-400: #FF5555;
$color-red-50: #FFF6F6;
$color-green-500: #00BB8F;
$color-green-50: #F2FCF9;

$color-violet-blue: hsla(256, 72%, 46%, 1);
$color-persian-blue: hsla(241, 72%, 46%, 0);

$color-light-slate-blue: #7755FF;
$color-light-royal-blue: #2F2CE9;

// # Typography
$font-family-ganken-grotesk: "Hanken Grotesk", sans-serif;