@use "../../styles/abstracts" as *;

/* --- Layout: Header */
.l-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-2xl);
}

/* --- Layout: Footer */
.l-footer {
  margin-block: 3rem;
  text-align: center;
}