:root {
  --background-color: #d5e1ef;
  --heading-text-color: #1f314f;
  --content-text-color: #68778d;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: var(--heading-text-color);
  background-color: var(--background-color);
  font-family: "Outfit", sans-serif;
}
