@use "../../styles/abstracts" as *;

.btn {
  display: inline-flex;
  justify-content: center;  
  gap: var(--space-2xs);
  min-width: to-rem(160);

  padding: var(--space-xs);
  border-radius: 999px;
  border: none;

  &--primary {
    background-color: var(--color-btn-primary-bg);
    color: var(--color-btn-primary-text);
    border: solid 1px var(--color-btn-primary-border);

    & svg {
      color: var(--color-btn-primary-icon);
    }
  }

  &--secondary {
    background-color: var(--color-btn-secondary-bg);
    color: var(--color-btn-secondary-text);
    border: solid 1px var(--color-btn-secondary-border);

    & svg {
      color: var(--color-btn-secondary-icon);
    }
  }
}