// # Colors
// Cyan Colors
$color-cyan-600: #4D96A9;
$color-cyan-400: #71C0D4; // btn hover
$color-cyan-300: #8FE3F9;

// Purple Colors
$color-purple-600: #855FB1;
$color-purple-400: #B18BDD; // btn hover
$color-purple-300: #D9B8FF;

// Slate Colors
$color-slate-900: #28283D;
$color-slate-600: #87879D;
$color-slate-300: #D1D1DF;

// White
$color-white: #FAFAFA;

// Others
$color-black: #121212;        // Dark mode only


// # Typography
$font-family-red-hat-display: "Red Hat Display", sans-serif;