// # Colors
$color-white: #FFFFFF;
$color-grey: #949494;
$color-blue-800: #242742;
$color-blue-700: #36384D;
$color-red: #FF6155;
$color-red-100: #FFE7E6;
$color-gradient-1: #FF6A3A;
$color-gradient-2: #FF527B;

// # Typography
$font-family-roboto: "Roboto", sans-serif;