@use "../abstracts" as *;

.form-field {
  display: grid;
  grid-template: auto auto / 2fr 3fr;
  grid-template-areas: "label message" "input input";
  gap: var(--space-2xs);

  .form-field__label {
    grid-area: label;
    @include text-preset3;
  }

  .form-field__messages {
    grid-area: message;
    justify-self: end;

    color: var(--color-input-error);
    @include text-preset3;
  }

  .form-field__input {
    grid-area: input;
    padding-inline: var(--space-l);
    padding-block: var(--space-s);
    border-radius: var(--space-2xs);
    border: 1px solid var(--color-input-border);

    color: var(--color-text-main);
    @include text-preset2-regular;

    &:focus {
      border: 1px solid var(--color-input-border-active);
    }
    &.error {
      border: 1px solid var(--color-input-error);
      color: var(--color-input-error) !important;
      background-color: var(--color-input-error-bg) !important;
    }

  }
}