@use "../abstracts" as *;

/* --- Component: Form */


/* Hide number input spinners for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form-field {
  display: grid;
  grid-template: auto auto / auto auto;
  grid-template-areas: "label message" "input input";
  gap: var(--space-2xs);

  & > .label {
    grid-area: label;
    
    color: var(--color-field-label);
    @include text-preset5;
    
  }

  & > .messages {
    grid-area: message;
    justify-self: end;
    align-self: start;

    color: var(--color-field-input-error-msg);
    @include text-preset5;
  }

  & > [class*=input] {
    grid-area: input;

    // padding-inline: var(--space-l);
    // padding-block: var(--space-s);
    // border-radius: var(--space-2xs);
    // border: 1px solid var(--color-input-border);

    // color: var(--color-text-main);
    // @include text-preset2-regular;

  }
}

input[class*=input-txtbox] {
  border: none;
  outline: none; /* TIPS: Add this line to remove the default outline */
  border-radius: var(--space-3xs);
  text-align: right;
  padding: var(--space-s) var(--space-s);

  @include text-preset3;
  color: var(--color-field-input-text);
  background-color: var(--color-field-input-bg);
  
  &:focus, &:focus-visible {
    border: 2px solid var(--color-field-input-focus-border);
  }
  &.error {
    border: 2px solid var(--color-field-input-error-border);
    // color: var(--color-input-error) !important;
    // background-color: var(--color-input-error-bg) !important;
  }
}

input[class*=input-txtbox--with-icon] {
  
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left var(--space-s) center; // TIPS: Place image x size unit from right side.

  &.dollar {
    background-image: url('../images/icon-dollar.svg');
  }
  &.person {
    background-image: url('../images/icon-person.svg');
  }

}

.input-group-radio {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); // TIPS: 1fr 1fr: affected by intrinsic content size or a min-width -> can be unequall
  gap: var(--space-s);
  
  @include mq_up(medium) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  & .radio__input {
    &:focus-visible + .radio__label {
      border: 2px solid var(--color-field-input-focus-border);
    }

    &:hover + .radio__label {
      color: var(--color-field-radio-selected-text);
      background-color: var(--color-field-radio-selected-bg);
    }
  }

  & .radio__label {
    text-align: center;
    outline: none; /* Add this line to remove the default outline */
    cursor: pointer;
    color: var(--color-field-radio-text);
    background-color: var(--color-field-radio-bg);
    padding: var(--space-s) var(--space-s);
    border-radius: var(--space-3xs);
    @include text-preset3;

    // &:focus-visible {
    //   border: 2px solid var(--color-field-input-focus-border);
    // }
    
    &--custom {
      color: var(--color-field-radio-custom-text);
      background-color: var(--color-field-radio-custom-bg);
    }

    &.selected {
      color: var(--color-field-radio-selected-text);
      background-color: var(--color-field-radio-selected-bg);
    }
  }
  
}

