/* || Utilities related to visibility */
/* Visually hidden but accessible to screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Hide element */
.hidden {
  visibility: hidden;
  opacity: 0;
}

/* Show element */
.visible {
  visibility: visible;
  opacity: 1;
}