@use "../styles/abstracts" as *;

/* --- Component: Form */

.calc-form {
  display: grid;
  gap: var(--space-2xl-3xl);
}

/* Hide number input spinners*/
.hide-number-spinners {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
     -webkit-appearance: none;
    margin: 0;
  }
}

.txtbox {
  width: 100%;
  width: -webkit-fill-available;
  
  border: none;
  outline: none; /* TIPS: Add this line to remove the default outline */
  border-radius: var(--space-3xs);
  text-align: right;
  padding: var(--space-s) var(--space-s);

  @include text-preset3;
  color: var(--color-field-input-text);
  background-color: var(--color-field-input-bg);
  
  &:focus, &:focus-visible {
    border: 2px solid var(--color-field-input-focus-border);
  }
  &.error {
    border: 2px solid var(--color-field-input-error-border);
    // color: var(--color-input-error) !important;
    // background-color: var(--color-input-error-bg) !important;
  }
}

.icon {
  
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left var(--space-s) center; // TIPS: Place image x size unit from right side.

  &.dollar {
    background-image: url('../assets/images/icon-dollar.svg');
  }
  &.person {
    background-image: url('../assets/images/icon-person.svg');
  }
}

.group-radio {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); // TIPS: 1fr 1fr: affected by intrinsic content size or a min-width -> can be unequall
  gap: var(--space-s);
  
  @include mq_up(medium) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  & .radio__input {
    &:focus-visible + .radio__label {
      border: 2px solid var(--color-field-input-focus-border);
    }

    &:hover + .radio__label {
      color: var(--color-field-radio-selected-text);
      background-color: var(--color-field-radio-selected-bg);
    }
  }

  & .radio__label {
    display: block;
    text-align: center;
    outline: none; /* Add this line to remove the default outline */
    cursor: pointer;
    color: var(--color-field-radio-text);
    background-color: var(--color-field-radio-bg);
    padding: var(--space-s) var(--space-s);
    border-radius: var(--space-3xs);
    @include text-preset3;
    
    &--custom {
      color: var(--color-field-radio-custom-text);
      background-color: var(--color-field-radio-custom-bg);
    }

    &.selected {
      color: var(--color-field-radio-selected-text);
      background-color: var(--color-field-radio-selected-bg);
    }
  }
  
}

