/* Define all design tokens (colors, typography, spacing) */

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf")
    format("truetype");
  font-weight: 100 900; /* Range for variable font */
  font-style: normal;
}

:root {
  /* Define a base font size for REM calculation */
  --base-font-size: 16;

  /* Colors */
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-700: rgb(51, 51, 51);
  --color-grey-800: rgb(31, 31, 31);
  --color-grey-900: rgb(20, 20, 20);

  /* Typography */
  --font-family-base: "Inter", sans-serif;

  /* Text Preset 1: Semi Bold, 20px, 100% Line Height, 0px Letter Spacing */
  --font-weight-preset1: 600;
  --font-size-preset1: clamp(
    20 / var(--base-font-size) * 1rem,
    0.5rem + 1.5vw,
    24 / var(--base-font-size) * 1rem
  );
  --line-height-preset1: 1;
  --letter-spacing-preset1: 0;

  /* Text Preset 2: Semi Bold, 14px, 100% Line Height, 0px Letter Spacing */
  --font-weight-preset2: 600;
  --font-size-preset2: clamp(
    14 / var(--base-font-size) * 1rem,
    0.5rem + 1.5vw,
    16 / var(--base-font-size) * 1rem
  );
  --line-height-preset2: 1;
  --letter-spacing-preset2: 0;

  /* Text Preset 3: Regular, 14px, 100% Line Height, 0px Letter Spacing */
  --font-weight-preset3: 400;
  --font-size-preset3: clamp(
    14 / var(--base-font-size) * 1rem,
    0.5rem + 1.5vw,
    16 / var(--base-font-size) * 1rem
  );
  --line-height-preset3: 1;
  --letter-spacing-preset3: 0;

  /* Text Preset 4: Semi Bold, 14px, 100% Line Height, 0px Letter Spacing */
  --font-weight-preset4: 600;
  --font-size-preset4: clamp(
    14 / var(--base-font-size) * 1rem,
    0.5rem + 1.5vw,
    16 / var(--base-font-size) * 1rem
  );
  --line-height-preset4: 1;
  --letter-spacing-preset4: 0;

  /* Spacing */
  --spacing-600: calc(48 / var(--base-font-size) * 1rem);
  --spacing-300: calc(24 / var(--base-font-size) * 1rem);
  --spacing-250: calc(20 / var(--base-font-size) * 1rem);
  --spacing-200: calc(16 / var(--base-font-size) * 1rem);
  --spacing-150: calc(12 / var(--base-font-size) * 1rem);
  --spacing-100: calc(8 / var(--base-font-size) * 1rem);
  --spacing-50: calc(4 / var(--base-font-size) * 1rem);
}
