/* Styles for recipe card component */

@use "../abstracts" as *;
// @use "../vendors" as *;

.recipe-card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-card);
  max-width: 100vw;

  // Set typography common
  font-family: var(--font-family-base);
  font-weight: $font-weight-regular;
  line-height: 1;
  letter-spacing: 0;
  color: var(--text-color-main);
}
.recipe-content {
  display: flex;
  flex-direction: column;
  gap: to-rem(32);
  padding-inline: to-rem(32);
  padding-block: to-rem(40);
}

/* Header */
.recipe-header {
  display: flex;
  flex-direction: column;
  gap: to-rem(24);
}
.recipe-header > h1 {
  font-family: var(--font-family-heading);
  font-size: clamp(
    to-rem(36),
    to-rem(30) + 1.5vw,
    to-rem(40)
  );
  color: var(--text-color-header);
}
.recipe-header > p {
  font-size: to-rem(16);
  line-height: 1.5;
}

/* Section: Common */
.recipe-section {
  display: flex;
  flex-direction: column;
  gap: to-rem(24);

  font-size: to-rem(16);
  line-height: 1.5;
}
.recipe-section__title {
  font-family: var(--font-family-heading);
  font-size: to-rem(28);
  color: var(--text-color-section-common);
}
.recipe-section__list {
  display: grid;
  gap: to-rem(8);
  padding-inline-start: to-rem(24);
}
.recipe-section__list > li {
  padding-inline-start: to-rem(16);
}
.recipe-section__list > li::marker {
  color: var(--text-color-section-common);
}
.recipe-section__list > li > strong {
  font-weight: $font-weight-bold;
}

/* Section: Preparation time */
.recipe-preparation {
  gap: to-rem(16);
  border-radius: to-rem(12);
  padding-inline: to-rem(24);
  padding-block: to-rem(24);
  background-color: var(--background-color-section-highlight);
}
.recipe-preparation__title {
  font-weight: $font-weight-semi-bold;
  font-size: to-rem(20);
  color: var(--text-color-section-highlight);
}
.recipe-preparation__list > li::marker {
  color: var(--text-color-section-highlight);
}

/* Section: Instructions */
.recipe-instructions__list > li::marker {
  font-weight: $font-weight-bold;
}

/* Section: Nutrition */
.recipe-nutrition__table {
  border-collapse: collapse;
}
.recipe-nutrition__table th,
.recipe-nutrition__table td {
  padding-block: to-rem(12);
  text-align: start;
  border-block-end: 1px solid var(--border-color);
}
.recipe-nutrition__table tr td:nth-child(1) {
  padding-inline-start: to-rem(32);
}
.recipe-nutrition__table tr td:nth-child(2) {
  padding-inline-start: to-rem(16);
  font-weight: $font-weight-bold;
  color: var(--text-color-section-common);
}
.recipe-nutrition__table tr:first-child td {
  padding-block-start: 0;
}
.recipe-nutrition__table tr:last-child td {
  padding-block-end: 0;
  border-bottom: none;
}

.section-divider {
  border-block-start: 1px solid var(--border-color);
}

/* Setting styles for table, desktop */
@media (min-width: to-rem(768)) {
  .recipe-card {
    gap: to-rem(40);
    padding: to-rem(40);
    margin-block-start: 8rem;
    width: clamp(to-rem(616), to-rem(616) + 8.5vw, to-rem(736));
    border-radius: to-rem(24);
  }

  .recipe-hero-img {
    border-radius: to-rem(12);
  }

  .recipe-content {
    padding-inline: 0;
    padding-block: 0;
  }
}
